<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ben Journals</title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                lightgreen: "#4d5d48",
                darkgreen: "#15342d",
                light: "#d9d9d9",
                orange: "#f77e21",
              },
              fontSize: {
                14: ".875rem",
                16: "1rem",
                18: "1.125rem",
                20: "1.25rem",
                30: "1.875rem",
                40: "2.5rem",
              },
            },
          },
        };
      </script>
</head>
</html>