<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ben Journals</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/styles/main.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                bodytextcolor: "#7b7168",
                lighttextcolor: "#d9d9d9",
                orangetextcolor: "#ff914d",
                blacktextcolor: "#000000"
              },
              fontSize: {
                14: ".875rem",
                16: "1rem",
                18: "1.125rem",
                20: "1.25rem",
                30: "1.875rem",
                40: "2.5rem",
                60: "3.75rem"
              },
              fontFamily:  {
                montsy: ["Montserrat", "sans-serif"],
                rubik: ["Rubik Dirt", "cursive"],
              }
            },
          },
        };
      </script>
</head>
</html>