<%- include("partials/header.ejs") %>
<body class="">
        <%- include("partials/navbar.ejs") %>

        <section id="home-page" class="bg-bgimage sm:bg-auto h-screen p-20">
            <div class="">
                <h1 class="text-60 md:mt-20 sm:mt-0 sm:leading-none text-lighttextcolor font-rubik">
                    BEYOND THE CODE
                </h1>
                <p class="text-18 mt-4 text-orangetextcolor font-bold">A Personal Blog</p>
                <h2 class="text-18 text-lighttextcolor font-bold mt-20">
                    Insights, Ideas, and Reflections from a Developer’s Mind
                </h2>

                <!-- READ BUTTON -->
                <a href="#" class="">
                    <button class="px-6 py-2 mt-20 rounded-xl text-lighttextcolor bg-blackcolor hover:bg-lighttextcolor hover:text-blackcolor button">
                        Contact
                    </button>
                </a>
            </div>
        </section>

        <section id="articles-section" class="bg-white">

            <!-- ARTICLES CONTAINER -->
            <div id="articles" class="container flex flex-col-reverse md:flex-row mx-auto px-6 space-y-0 md:space-y-0">

                <!-- FEATURED ARTICLE CHILD, LEFT ON LG SCREEN, BOTTOM ON SMALL SCREENS -->
                <div id="feautured-article" class="">
                    <h2 class="">
                        Featured Article
                    </h2>

                    <!-- FEAUTURED ARTICLE BODY, RIGHT ON LG SCREEN, TOP ON SMALL SCREENS -->
                    <div class="feautured-article">
                        <img src="/images/sky.jpeg" alt="" class="feautured-article-img">
                        <h3>This is a somewhat long article title that takes one or two lines</h3>
                        <p class="">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                            penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                            Donec quam felis, ultricies nec, pellentesque eu, t magnis dis parturient montes, 
                            nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                            nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                        </p>
                    </div>

                    <button class="">
                        Continue Reading
                    </button>
                </div>
                
                <!-- RECENT ARTICLES -->
                <div id="recent-article-column" class="">
                    <h2 class="">
                        Recent Articles
                    </h2>

                    <div id="recent-article" class="">
                        <img src="/images/towers.jpg" alt="" class="recent-article-img">
                        <h3>This is a somewhat long article title that takes one or two lines</h3>
                    </div>

                    <div id="recent-ariticle" class="recent-article-img">
                        <img src="/images/tunnel.jpg" alt="" class="">
                        <h3>This is a somewhat long article title that takes one or two lines</h3>
                    </div>
                </div>

            </div>
        </section>

        <section id="newsletter-section">
            <div class="newsletter">
                <h1>
                    Stay up to date with the <span class="">articles,</span>
                    Subscribe to the <span class="">Mental Bytes</span> newsletters
                </h1>

                <input type="text" placeholder="Enter your email address" class="newsletter-email">

                <button class="">
                    Submit
                </button>
            </div>
        </section>


    <%- include("partials/footer.ejs") %>
</body>


