<%- include("partials/header.ejs") %>
    <h1>
        Mental Bytes
    </h1>

    <p>
        This is a place where I share my thoughts, experiences, and knowledge with the world.
    </p>

    <button class="createpost-btn" type="button">
        <a href="/blog.ejs">See my thoughts</a>
    </button>

    <button class="blog-page-button" type="button">
        <a href="/blog.ejs">See my thoughts</a>
    </button>
<%- include("partials/footer.ejs") %>

